 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #b3b3b3, #666666);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2rem;
  font-family: Acme;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 2rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --radius: 50px;
  margin: 29px auto 0 151px;
  padding: 21px 8px 22px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 2rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --radius: 50px;
  margin: -92px 156px -307px auto;
  padding: 21px 16px 22px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }
}

html, body {
    overflow: hidden;
    height: 100%;
}